<!-- <p>{{display}}</p> -->
<!-- <ul>
    <li *ngFor="let race of races">
      {{race.name}}
    </li>
</ul>
<ul>
    <li *ngFor="let classe of classes">
      {{classe.name}}
    </li>
</ul>
<p>
    {{races[0].desc}}
</p>


<form>
    <label for="">Nom du personnage</label>
    <input type="text" name="" id="">
    <select>
        <option *ngFor="let race of races">{{ race.name }}</option>
    </select>
    <select>
        <option *ngFor="let classe of classes">{{ classe.name }}</option>
    </select>
    <label for="">Historique</label>
    <input type="text" name="" id="">
    <label for="">Alignement</label>
    <input type="text" name="" id="">
    <label for="">Nom du joueur</label>
    <input type="text" name="" id="">
    <label for="">Points d'expérience</label>
    <input type="text" name="" id="">
    <button>Submit</button>
</form> -->

<app-header></app-header>
<app-form></app-form>

